<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mercado Liebre-Login</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/CSS/styles.css" />
    <link
      rel="stylesheet"
      href="/CSS/styles-tablet.css "
      media="(min-width:480px)"
    />
    <link
      rel="stylesheet"
      href="/CSS/styles-md.css"
      media="(min-width:680px)"
    />
    <link
      rel="stylesheet"
      href="/CSS/styles-lg.css"
      media="(min-width: 1280)"
    />
  </head>
  <body>
    <header class="yellow-background padding">
      <div class="flex padding-top space-between">
        <div class="size-50-50">
          <img src="images/logo-mercado-liebre.svg" alt="Logo" />
        </div>
        <div class="barra-busquedad flex">
          <form>
            <input type="search" placeholder="Buscar productos, marcas." />
          </form>
          <div class="icon-search">
            <i class="fas fa-search"></i>
          </div>
        </div>

        <div class="padding-top padding-bottom">
          <div class="text-center">
            <p class="text-body correction">
              <i class="fas fa-hand-holding-usd" style="font-size: 1.8em"></i>
              Comprá en cuotas y sin tarjeta de crédito
            </p>
          </div>
        </div>
      </div>

      <nav class="ml-main-nav">
        <ul class="display-ul">
          <li class="margin-li"><a href="#">Ofertas</a></li>
          <li class="margin-li"><a href="#">tiendas oficiales</a></li>
          <li class="margin-li"><a href="#">vender</a></li>
          <li class="margin-li"><a href="#">ayuda</a></li>
        </ul>

        <ul class="display-ul">
          <li class="margin-li">
            <a href="#">creá tu cuenta</a
            ><i
              class="far fa-id-card padding-left5"
              style="font-size: 1.5em"
            ></i>
          </li>
          <li class="margin-li">
            <a href="#">ingresá</a
            ><i
              class="fas fa-sign-in-alt padding-left5"
              style="font-size: 1.5em"
            ></i>
          </li>
          <li class="margin-li">
            <a href="#">mis compras</a
            ><i
              class="fas fa-shopping-basket padding-left5"
              style="font-size: 1.5em"
            ></i>
          </li>
        </ul>
      </nav>

      <div class="burger-menu">
        <i class="fas fa-bars"></i>
      </div>
    </header>
    <main class="main-log">
      <form action="" method="GET">
        <div class="form-input">
          <input
            class="width-input"
            type="text"
            placeholder="Nombre de Usuario"
          />
        </div>
        <div class="form-input">
          <input class="width-input" type="password" placeholder="Contraseña" />
        </div>
        <button class="button-log" type="button">Enviar</button>
      </form>
    </main>
    <footer class="footer-center">
      <div class="icon-card">
        <i class="fas fa-credit-card"></i>
      </div>
      <p><strong>Pagá con tarjeta o en efectivo</strong></p>
      <p>
        Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo
        en puntos de pago. ¡Y siempre es seguro!
      </p>
      <div class="icon-gift">
        <i class="fas fa-gift"></i>
      </div>
      <p><strong>Envío gratis desde $ 2.500</strong></p>
      <p>
        Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles
        de productos. Es un beneficio de Mercado Puntos.
      </p>
      <div class="icon-segurity">
        <i class="fas fa-user-shield"></i>
      </div>
      <p><strong>Pagá con tarjeta o en efectivo</strong></p>
      <p>
        ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas
        hacer, porque estás siempre protegid@.
      </p>
      <p><strong>Copyright © 1999-2020 MercadoLiebre S.R.L.</strong></p>
    </footer>
  </body>
</html>
