* {
  box-sizing: border-box;
}
.yellow-text {
  color: #eac926;
}

.yellow-background {
  background-color: #eac926;
}

.blue {
  color: rgb #03264c;
}
.light-blue {
  color: rgb #1259c3;
}
.gray-dark {
  color: rgb #666;
}
.gray-light {
  color: rgb #ebebeb;
}
.green {
  color: rgb #39b54a;
}
body {
  font-family: "Roboto";
}
.text-black {
  color: rgb(rgb(0, 0, 0));
}
.padding {
  padding: 20px;
}
.margin-t0p {
  margin-top: 0px;
}

.text-body {
  font-size: 12px;
}
.text-titul {
  font-size: 24px;
  margin-left: 28px;
}
.text-precio {
  font-size: 18px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
}
.text-descuen {
  font-size: 16px;
  color: green;
  margin-top: 0px;
  align-self: flex-end;
}
.text-descripcion {
  font-size: 16px;
  margin-bottom: 0px;
  padding-bottom: 15px;
  opacity: 1;
  margin-left: 5px;
}
html,
body {
  margin: 0;
}
.centrado-tit {
  text-align: left;
}
/*Barra de navegacion*/
.ml-main-nav ul {
  padding-left: 0;
  list-style-type: none;
  display: none;
}
.ml-main-nav a {
  text-decoration: none;
  color: #222222;
  display: inline-block;
  padding: 5px 0;
  font-size: 17px;
}
.ul-flex {
  display: flex;
}
.nav-fixed {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
.flex-direction {
  flex-direction: row;
}
.margin-li {
  margin: 0 5px;
}
/*Barra de navegacion*/
.text-center {
  text-align: center;
}
.icon-search {
  font-size: 109%;
  margin-left: 8px;
  max-width: 109%;
  border: none;
  background-color: white;
  margin-left: 0%;
  max-height: 29%;
  border-radius: 5px;
}
.icon-search i {
  background-color: white;
}
.border-none {
  border: none;
}
.margint-0 {
  margin-top: 0px;
}
.ima-cent {
  text-align: center;
}

.burger-menu {
  text-align: center;
  font-size: 24px;
  width: 40px;
  padding: 8px;
  height: 40px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: blue;
}

.burger-menu i {
  font-size: 24px;
  color: white;
  border-radius: 5px;
}
.footer-center p {
  text-align: center;
}
.icon-card {
  text-align: center;
  color: blue;
  margin-bottom: 10px;
  size: 2em;
  font-size: 35px;
}
.icon-gift {
  text-align: center;
  color: blue;
  margin-bottom: 10px;
  size: 2em;
  font-size: 35px;
}
.icon-segurity {
  text-align: center;
  color: blue;
  margin-bottom: 10px;
  size: 2em;
  font-size: 35px;
}
.barra-busquedad {
  font-size: 12px;
  margin-left: 8px;
  border: none;
  border-radius: 5px;
  background-color: white;
  height: 22px;
  overflow: clip;
}
.main-style {
  padding: 0 5%;
}
.icon-truck {
  color: #39b54a;
  font-size: 16px;
  padding: 5px;
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid #39b54a;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  bottom: 85px;
}
.banner-main {
  display: block;
  width: 100%;
}
.article-style {
  margin-bottom: 10px;
}
.box-arti {
  border-top: 1px solid #ebebeb;
  position: relative;
  margin-top: -3px;
  background-color: white;
}
.section {
  background-color: rgb(226, 224, 224);
}

.product-wrapper {
  padding: 15px;
}
.shadow-product {
  box-shadow: 0px 0px 10px rgb(100, 100, 100);
  padding: 10px;
}
.size-50-50 {
  width: 50%;
  height: 50%;
}
.padding-top {
  padding-top: 15px;
}
.padding-bottom {
  padding-bottom: 15px;
}
.fle.grow {
  flex-grow: 1;
}
.padding-top35 {
  padding-top: 35px;
}
.padding-left {
  padding-left: 10px;
}
.padding-left5 {
  padding-left: 5px;
}
.space-between {
  justify-content: space-between;
}
.correction {
  text-align: right;
}
/*Register.html*/
.main-reg {
  background-color: rgb(205, 205, 205);
  padding: 24px;
}
.form-input {
  display: block;
  margin-bottom: 30px;
}
.width-input {
  width: 100%;
}
.form-input label {
  display: none;
}
.form-input .radio-label {
  display: inline;
}
.main-label {
  display: none;
  font-size: 18px;
}
.Cat-int {
  font-weight: bold;
  margin-top: 0%;
}
.interes-style input {
  padding-bottom: 10px;
}
.interes-style {
  padding-bottom: 15px;
}
.padding-bottom5 {
  padding-bottom: 5px;
}
/*Login.html*/
.main-log {
  background-color: rgb(205, 205, 205);
  padding: 24px;
}
.button-log {
  width: 100%;
  background-color: rgb(133, 133, 245);
  color: #f2f2f2;
  font-size: 15px;
}
.button-log:hover {
  background-color: #0022aa;
}
.error-msj {
  color: red;
  font-size: 13px;
  margin-bottom: 0%;
  margin-top: 0%;
}
.margin-right {
  margin-right: 0%;
}
.hooter-flex {
  display: flex;
}
